[Unit]
Description=tareas gunicorn daemon
After=network.target

[Service]
User=kike
Group=kike
WorkingDirectory=/home/kike/Proyectos/Django/tareas
EnvironmentFile=/home/kike/Proyectos/Django/tareas/.env
ExecStart=/home/kike/Proyectos/Django/tareas/.venv/bin/gunicorn tareas.wsgi:application \
    --config /home/kike/Proyectos/Django/tareas/gunicorn.conf.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
